*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:all 0s ease-in-out;
    -moz-transition:all 0s ease-in-out;
    -ms-transition:all 0s ease-in-out;
    transition:all 0s ease-in-out;
}

body {
    background: #00695c;
    font-family: "Arial";
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0 0;
}

.wrapper, .topbar-wrapper  {
    width: 100%;
    max-width: 1280px;
    margin: auto auto;
}

.topbar-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.topbar {
    height: 60px; width: 100%;
    background: black;
    color : white;
}

.topbar-brand {
    width: 100px;
    color : white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.topbar-brand:hover {
    color : white;
}

.topbar-customer a {
    color : white;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
}
.topbar-customer a:hover, .topbar-customer a.active {
    color : #00897b;
}

.navbar {
    height: 48px; width: 100%;
    background: #004d40;
    color : white;
    display: flex;
    align-items: center;
}

.navbar a {
    color : white;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
}

.navbar a:hover, .navbar a.active {
    color : #ff5722;
}

.content {
    background: white;
    padding: 16px;
}